html {
    min-height: 100%;
    position: relative;
}

h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p {
    font-family: Georgia, Cambria, Times, "Times New Roman";
    text-align: justify;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #e5e3e7;
}

.header {
    background-color: #fbff00;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.search input {
    width: 100%;
    border-radius: 2px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 3px #999;
}

.content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 35px;
    height: 100%;
    background-color: #e5e3e7;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 5px;
    text-decoration: none;
}

.search i {
    font-size: 20px;
    color: #333;
    align-items: center;
    justify-content: center;
}

.search input:focus {
    outline: none;
}

.search input:active {
    outline: none;
}

.logo {
    width: 60px;
    margin-top: 5px;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

.flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-parrafo {
    width: 80%;
}

.home {
    width: 85%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 0px 3px #999;
}

hr {
    width: 95%;
    border-color: #fefdff;
    /*Chrome y Safari*/
    opacity: 0.38;
}

.home-cards {
    display: flex;
    flex-direction: row;
    transition: all 300ms
}

.card-img {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 10px;
}

.card-img img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.card-precio-loc {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.details {
    display: flex;
    flex-direction: row;
}

.details-img {
    margin: 20px;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-info-nuevo {
    color: rgb(99, 46, 46);
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.details-info {
    width: 30%;
    margin: 20px;
}

.details-info-title {
    font-size: 30px;
}

.details-info-price {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.details-info-button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    background-color: #500fa5;
    border: none;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.description-producto {
    margin: 20px;
}

.description-producto-parrafo {
    text-justify: justify;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 60px;
    background-color: #fbff00;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.home-cards:hover {
    transform: scale(1.01);
}
